@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family:'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  transition: width none;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
.btn{
  margin-top: 1rem;
  display:inline-block;
  padding:.9rem 3rem;
  border-radius: .5rem;
  color:#fff;
  background:#27ae60;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
  border: none;
}
.btn:hover{
  background:#219150;
}

/* html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-track{
  background:transparent;
}

html::-webkit-scrollbar-thumb{
  background:var(--black);
} */
section{
  padding:5rem 9%;
}

/* =>=>=>=>=>=>=>=>=>=>=>=>
      header-1 style
=>=>=>=>=>=>=>=>=>=>=>=>=> */

.header-1{
  background-color: #fff;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: #444;
}
.logo i{
  color: #27ae60;
}
.search-form{
  width: 50rem;
  height: 5rem;
  border: .1rem solid rgba(0,0,0,.1);
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: .5rem;
}
.search-form input{
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: #444;
  border: none;
}
.search-form label{
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: #444;
  cursor: pointer;
}

.search-form label:hover{
  color: #27ae60;
}

.header-1 .icons div,
.header-1 .icons a{
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #444;
  cursor: pointer;
}
#header .header-1 .icons div:hover,
#header .header-1 .icons a:hover{
    color: #27ae60;
}

#search-btn{
  display: none;
}

/* =>>=>>=>> =>>=>>=>> 
      header 2 
 =>>=>>=>> =>>=>>=>>*/
.header-2{
  background-color: #27ae60;
}
.navbar{
  text-align: center;
}
.navbar a{
  color: #fff;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}
.navbar a:hover{
  background-color: #219150;
}
#header .header-2.active{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}


/* =>=>=>=>=>=>=>=>=>=>=>=>
      login style
=>=>=>=>=>=>=>=>=>=>=>=>=> */
.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,9);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
}
.login-form-container.active{
  right: 0;
}
.login-form-container form{
  background-color: #fff;
  border: .1rem solid rgba(0,0,0,.1);
  width: 40rem;
  padding: 2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  margin: 2rem;
}

.login-form-container form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #444;
  text-align: center;
}
.login-form-container form span{
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.login-form-container form .box{
  width: 100%;
  margin:.7rem 0;
  font-size: 1.6rem;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  padding:1rem 1.2rem;
  color:#444;
  text-transform: none;
}

.login-form-container form .checkbox{
  display:flex;
  align-items: center;
  gap:.5rem;
  padding:1rem 0;
}

.login-form-container form .checkbox label{
  font-size: 1.5rem;
  color:#666;
  cursor: pointer;
}

.login-form-container form .btn{
  text-align: center;
  width:100%;
  margin:1.5rem 0;
}

.login-form-container form p{
  padding-top: .8rem;
  color:#666;
  font-size: 1.5rem;
}

.login-form-container form p a{
  color:#27ae60;
  text-decoration: underline;
}

.login-form-container #close-login-btn{
  position: absolute;
  top:1.5rem; right:2.5rem;
  font-size: 5rem;
  color:#444;
  cursor: pointer;
  
}
/* =>=>=>=>=>=>=>=>=>=>=>=>
      loader style
=>=>=>=>=>=>=>=>=>=>=>=>=> */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .loader-container img {
    width: 10rem;
  }

  .loader-container.fade-out {
    top: -110%;
    opacity: 0;
  }